<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="card form-group col-md-10 col-md-offset-5 align-center" >
            <div class="card-body">
                <div class="row">
                    <h3>Cadastrar Arte</h3>
                </div>
                <!--Para cada input do forms, existe mensagens de validacoes caso ocorra algum erro-->
                <form class="align-items-center" [formGroup]="cadastroForm" (ngSubmit)="cadastrarArte()">
                    <div class="row">
                        <div class="col-4">
                            <label for="titulo" class="form-label">Título da arte</label>
                            <input type="text" class="form-control" id="titulo" required placeholder="Digite o nome do título"
                             formControlName="titulo" 
                             [ngClass]="{ 'is-invalid': titulo.errors && (titulo.dirty || titulo.touched)} ">
                            <div *ngIf="titulo.errors?.required && (titulo.dirty || titulo.touched)" class="text-danger" >
                                <p>Preencha o título da arte</p>
                            </div>
                            <div *ngIf="titulo.errors?.minlength && (titulo.dirty || titulo.touched)" class="text-danger">
                                <p>Título da arte muito curto</p>
                            </div>
                            <div *ngIf="titulo.errors?.maxlength && (titulo.dirty || titulo.touched)" class="text-danger">
                                <p>Título da arte muito longo</p>
                            </div>
                        </div>
                        <div class="col-4">
                            <label for="descricao" class="form-label">Descrição</label>
                            <input type="text" class="form-control" id="descricao" required placeholder="Digite a descrição"
                             formControlName="descricao" 
                             [ngClass]="{ 'is-invalid': descricao.errors && (descricao.dirty || descricao.touched)} ">
                            <div *ngIf="descricao.errors?.required && (descricao.dirty || descricao.touched)" class="text-danger" >
                                <p>Preencha a descrição</p>
                            </div>
                            <div *ngIf="descricao.errors?.minlength && (descricao.dirty || descricao.touched)" class="text-danger">
                                <p>Descrição muito curto</p>
                            </div>
                            <div *ngIf="descricao.errors?.maxlength && (descricao.dirty || descricao.touched)" class="text-danger">
                                <p>Descrição muito longa</p>
                            </div>
                        </div>
                        <div class="col-4">
                            <label for="cultura" class="form-label">Cultura</label>
                            <input type="text" class="form-control" id="cultura" required placeholder="Digite a cultura da arte"
                             formControlName="cultura" 
                             [ngClass]="{ 'is-invalid': cultura.errors && (cultura.dirty || cultura.touched)} ">
                            <div *ngIf="cultura.errors?.required && (cultura.dirty || cultura.touched)" class="text-danger" >
                                <p>Preencha a cultura</p>
                            </div>
                            <div *ngIf="cultura.errors?.minlength && (cultura.dirty || cultura.touched)" class="text-danger">
                                <p>Cultura muito curto</p>
                            </div>
                            <div *ngIf="cultura.errors?.maxlength && (cultura.dirty || cultura.touched)" class="text-danger">
                                <p>Cultura muito longo</p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-4">
                            <label for="estilo" class="form-label">Estilo</label>
                            <input type="text" class="form-control" id="estilo" required placeholder="Digite o estilo"
                             formControlName="estilo" 
                             [ngClass]="{ 'is-invalid': estilo.errors && (estilo.dirty || estilo.touched)} ">
                            <div *ngIf="estilo.errors?.required && (estilo.dirty || estilo.touched)" class="text-danger" >
                                <p>Preencha o estilo</p>
                            </div>
                            <div *ngIf="estilo.errors?.minlength && (estilo.dirty || estilo.touched)" class="text-danger">
                                <p>Estilo muito curto</p>
                            </div>
                            <div *ngIf="estilo.errors?.maxlength && (estilo.dirty || estilo.touched)" class="text-danger">
                                <p>Estilo muito longo</p>
                            </div>
                        </div>
                        <div class="col-4">
                            <label for="nomeArtista" class="form-label">Nome do Artista</label>
                            <select
                                id="nomeArtista" formControlName="nomeArtista" class="form-control"
                            >
                                <option value="">Selecione o artista</option>
                            </select>
                        </div>
                        <!-- PRECISA VER AINDA COMO PEGAR OS TIPOS DE ARTE -->
                        <div class="col-4">
                            <label for="tipo" class="form-label">Tipo de objeto arte</label>
                            <select
                                id="tipo"
                                formControlName="tipo"
                                class="form-control"
                                [ngClass]="{ 'is-invalid': tipo.errors && (tipo.dirty || tipo.touched)}"
                            >
                                <option value="">Selecione o tipo de arte</option>
                                <option value="Pintura">Pintura</option>
                                <option value="Escultura">Escultura</option>
                                <option value="Outros">Outros</option>
                            </select>
                            <div *ngIf="tipo.errors" class="invalid-feedback">
                                <div *ngIf="tipo.errors.required">Tipo de objeto de arte é obrigatório</div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-4">
                            <label for="custo" class="form-label">Custo</label>
                            <input type="text" class="form-control" id="custo" required placeholder="Digite o custo"
                             formControlName="custo" 
                             [ngClass]="{ 'is-invalid': custo.errors && (custo.dirty || custo.touched)}"
                             (blur)="formatarValorFinal()">
                            <div *ngIf="custo.errors?.required && (custo.dirty || custo.touched)" class="text-danger" >
                                <p>Preencha o custo</p>
                            </div>
                        </div>
                        <div class="col-4">
                            <label for="ano" class="form-label">Ano</label>
                            <input type="text" class="form-control" id="ano" required placeholder="Digite o ano"
                             formControlName="ano" 
                             [ngClass]="{ 'is-invalid': ano.errors && (ano.dirty || ano.touched)}"
                             >
                            <div *ngIf="(ano.errors?.min || ano.errors?.max) && (ano.dirty || ano.touched)" class="text-danger">
                                <p>Ano inválido</p>
                            </div>
                        </div>
                        <div class="col-4">
                            <label for="periodo" class="form-label">Período</label>
                            <input type="text" class="form-control" id="periodo" required placeholder="Digite o período"
                             formControlName="periodo" 
                             [ngClass]="{ 'is-invalid': periodo.errors && (periodo.dirty || periodo.touched)}"
                             >
                            <div *ngIf="periodo.errors?.required && (periodo.dirty || periodo.touched)" class="text-danger" >
                                <p>Preencha o período</p>
                            </div>
                            <div *ngIf="periodo.errors?.minlength && (periodo.dirty || periodo.touched)" class="text-danger">
                                <p>Período muito curto</p>
                            </div>
                            <div *ngIf="periodo.errors?.maxlength && (periodo.dirty || periodo.touched)" class="text-danger">
                                <p>Período muito longo</p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-4">
                            <label for="dataCompra" class="form-label">Data da Compra</label>
                            <input type="text" class="form-control" id="dataCompra" required placeholder="Digite a data da compra"
                             formControlName="dataCompra" 
                             [ngClass]="{ 'is-invalid': dataCompra.errors && (dataCompra.dirty || dataCompra.touched)}">
                            <div *ngIf="dataCompra.errors?.required && (dataCompra.dirty || dataCompra.touched)" class="text-danger" >
                                <p>Preencha a data da compra</p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group" > 
                                <mat-radio-group aria-labelledby="example-radio-group-label" 
                                formControlName="comprado" 
                                class="example-radio-group" 
                                name="comprado">
                                <mat-radio-button class="example-radio-button" 
                                *ngFor="let radio of radios" [value]="radio.value"
                                (change)="changeComprado($event)">
                                    {{ radio.name }}
                                 </mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                        <div class="col-4" *ngIf="cadastroForm.get('comprado').value == '0'">
                            <label for="colecao" class="form-label">Coleção</label>
                            <select
                                formControlName="colecao"
                                class="form-control"
                            >
                                <option value="">Selecione uma coleção</option>
                                <option
                                    *ngFor="let colecao of colecao$ | async"
                                    [ngValue]="colecao.nome"
                                >
                                    {{ colecao.nome }}
                                </option>
                            </select>

                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-primary" type="submit" [disabled]="!cadastroForm.valid">Cadastrar</button>
                        </div>
                    </div>                    
                </form>
            </div>
        </div>
    </div>
</div>