<div class="row">
    <div class="col-xl-6">
        <sb-card
            ><div class="card-header">
                <fa-icon class="mr-1" [icon]="['fas', 'chart-area']"></fa-icon>Compra de Objetos de Arte
            </div>

            <div class="card-body"><sb-charts-area [response]="maintenances$.asObservable()"></sb-charts-area></div
        ></sb-card>
    </div>
    <div class="col-xl-6">
        <sb-card>
            <div class="card-header">
                <fa-icon class="mr-1" [icon]="['fas', 'chart-bar']"></fa-icon>Totais de coleção e museu
            </div>
            <div class="card-body">
                <sb-charts-bar [response]="admissions$.asObservable()" ></sb-charts-bar>
            </div>
        </sb-card>
    </div>
</div>

