<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Museu Trabalho</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navPrincipal" aria-controls="navPrincipal" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navPrincipal">
      <ul class="navbar-nav ml-auto">
        <!--ROTAS PARA USUARIO DESLOGADO-->
        <li>
          <a class="nav-link" routerLink="/CadastroArte" >Cadastro</a>
        </li>
        <!--FIM ROTAS PARA USUARIO DESLOGADO-->
      </ul>
    </div>
  </div>
</nav>
<br>